body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #aba9a9;
    
}
.a{
    background-color: rgb(232, 232, 167);
}
.categories-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.categories-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.category img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.category h2 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}